<%- include('partials/header') -%>

<h1>POST</h1>

<form action="/api/post" method="post" enctype="multipart/form-data">
  <div>
    <textarea name="file" id="name" cols="30" rows="10"></textarea>
  </div>
  <div>
    <button>Submit</button>
  </div>
</form>

<%- include('partials/footer') -%>



